.featured_about-box {
  position: relative;
  padding: 4rem 6rem;
  margin-top: 1rem;
}
.featured_about-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -8;
  object-fit: cover;
}
